.ngCustomInput *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ngCustomInput {
  position: relative; }

.ngCustomInput .searchParam {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  margin-top: 5px;
  padding: 2px 2px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  font-size: 14px; }

.ngCustomInput .searchParam ul {
  margin: 0px;
  padding: 0px;
  overflow: visible;
  list-style-type: none; }

.ngCustomInput .searchParam li {
  margin: 2px;
  padding-left: 4px;
  display: inline-block;
  border-radius: 3px;
  height: 21px;
  line-height: 1.3;
  border: 1px solid #acacac;
  float: left;
  background: #f0f9ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f9ff), color-stop(47%, #cbebff), color-stop(100%, #a1dbff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  /* W3C */ }

.ngCustomInput .searchParam li.selected {
  background: #febbbb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #febbbb), color-stop(45%, #fe9090), color-stop(100%, #ff5c5c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  /* W3C */ }

.ngCustomInput .searchParam span {
  font: 13px Arial, sans-serif; }

.ngCustomInput .searchParam button {
  margin: 0px;
  border: none;
  background: none;
  color: #585858;
  cursor: pointer;
  font: bold 16px Arial, sans-serif;
  vertical-align: middle; }

.ngCustomInput .searchParam button:active {
  color: #ff0000; }

.ngCustomInput .searchParam input {
  border: 0px;
  outline: none;
  margin: 2px;
  padding: 0px 0px 0px 4px;
  height: 21px;
  float: left;
  font: 13px Arial, sans-serif; }

.ngCustomInput .searchParam input::-ms-clear {
  display: none; }

.ngCustomInput .autocomplete {
  position: absolute;
  padding: 0px 0px 0px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 82%;
  opacity: 1.0; }

.ngCustomInput .autocomplete ul.suggestions {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1000;
  overflow: visible;
  width: 100%;
  list-style-type: none;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.ngCustomInput .autocomplete li.suggestion {
  padding: 3px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  text-align: left;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff; }

.ngCustomInput .autocomplete li.selected {
  color: #fff;
  background-color: #0097cf; }

